

            /*   body   */

body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}




            /*   <h1>...<p>   */

h1{
    color: rgb(85, 84, 84);
}


p{
   color: rgb(116, 114, 114);
   font-weight: 500px;
   font-size: 18px;
   line-height: 34px;
}





            /*   section (id & class)   */

.sec-1{
    display: flex;
    padding : 100px;
    margin: 0%;
}

.sec-2{
    display: flex;
    padding : 50px 0px 0px 200px;
    margin: 0%;
}

.sec-3{
    padding: 50px 70px 50px 70px;
}

.sec-4{
    display: flex;
}

.sec-5{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(images/shapes/Frame\ 59.jpg);
}

.h1-a{
    font-size: 60px;
}

.h1-b{
    font-size: 40px;
}

.h1-c{
    
    color: black;
    font-size: 30px;
    font-weight:bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}




            /*   div (id & class)   */

#id-1{
    margin-top: 150px;
    margin-bottom: 100px;
}

#id-2{
    color: rgb(255, 123, 0);
}

#id-3{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 25px 50px;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(255, 81, 0, 0.425);
    background-image: linear-gradient(orange, tomato)   
}

#id-4{
    background-image: url(images/shapes/7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#id-5{
    width: 55%;
}

#id-6{
    margin-top: 50px;
    margin-bottom: 100px;
    padding-right: 100px;
}

#id-7{
    text-align: center;
}

#id-8{
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
}

#id-9{
    font-size: 40px;
    text-align: center;
}

#id-10{
    text-align: center;
    color: rgb(116, 114, 114);
    font-weight: 500px;
    font-size: 18px;
    line-height: 34px;
}


.post-1{
    width: 50%
}

.div-a{
    display: flex;
}

.div-b{
    width: 100%;
    margin: 2.5%;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgba(88, 88, 88, 0.247);
}

.div-b img{
    padding-bottom: 25px;
    width: 100%;
}

.div-c{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 7%;
    margin-right: 7%;

}


                    /* contact form */


.form{
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid yellow;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.158);
}

#button{
    font-size: 20px;
    width: 100%;
    padding: 20px 0 20px 0 ;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid yellow;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.459);
    background-image: linear-gradient(orange, tomato)   
}
#username{
    width: 48%;
}



#useremail{
    width: 48%;
}

#textarea{
    width: 98%;
    margin-top: 20px;
    padding-right: auto;
    border: 1px solid yellow;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.158);
}

#map{
    box-shadow: 0 0 15px rgba(255, 166, 0, 0.507);
}


/*   footer   */
footer{
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 150px;
    margin: 0; 
}

#footer-food{
    color: rgb(255, 115, 0);
}